.section_login {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section_login .form_sign {
  width: 30rem;
  height: 33rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 0.5rem;
  
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.section_login .form_sign h5 {
  text-align: center;
  color: var(--white);
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
}

.section_login .form_sign h5:after {
  content: "";
  width: 3rem;
  height: 0.2rem;
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.3rem;
  animation: fadeInRight 1s ease forwards;
  opacity: 0;
}

.section_login .form_sign .form_group:nth-of-type(1) {
  margin-top: 3rem;
}

.section_login .form_sign .form_group {
  width: 100%;
  height: 6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_login .form_sign .form_group label {
  color: var(--white);
  font-weight: 300;
  font-size: 1.2rem;
}

.section_login .form_sign .form_group input {
  margin-top: 0.3rem;
  background: none;
  border: none;
  border-bottom: 2px solid var(--white);
  outline: none;
  color: var(--white);
  font-size: 1.1rem;
}

.section_login .form_sign .form_check_save {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section_login .form_sign .form_check_save label {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.section_login .form_sign .form_check_save label span {
  font-size: 1.2rem;
  margin-left: 0.3rem;
  color: var(--white);
  font-weight: 400;
  user-select: none;
}

.section_login .form_sign .form_check_save label input {
  width: 1.2rem;
  height: 1.2rem;
}

.section_login .form_sign .btn_login {
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  background-color: #1c8888;
  border: none;
  color: var(--white);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  transition: 0.5s ease;
  border-radius: 0.3rem;
}

.section_login .form_sign .btn_login:hover {
  background-color: #26b9b9;
}

.closeHome {
  position: absolute;
  left: 1rem;
  top: 1rem;
  border: none;
  background: none;
  text-decoration: none;
  width: 9rem;
  height: 4rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.closeHome img {
  max-height: 100%;
  border-radius: 50%;
}

.closeHome strong {
  color: var(--white);
  font-weight: 600;
  font-size: 1.3rem;
}

@keyframes fadeInRight {
  0% {
    transform: translateX(250px);
    opacity: 0;
  }

  100% {
    transform: translateX(-20px);
    opacity: 1;
  }
}

.btnResetPass{
  margin: 0.5rem auto;
  width: 50%;
  background: none;
  font-size: 1.1rem;
  color: var(--gray);
  border: none;
  text-align: center;
}

.btnResetPass:hover{
  text-decoration: underline;
}

.form_reset_password {
  width: 30rem;
  height: 33rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 0.5rem;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  transition: 0.3s;
}

.form_reset_password h5 {
  text-align: center;
  color: var(--white);
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
}

.form_reset_password h5:after {
  content: "";
  width: 3rem;
  height: 0.2rem;
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.3rem;
  animation: fadeInRight 1s ease forwards;
  opacity: 0;
}

.form_reset_password .form_group {
  width: 100%;
  height: 6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
}

.form_reset_password .form_group label {
  color: var(--white);
  font-weight: 300;
  font-size: 1.2rem;
}

.form_reset_password .form_group input {
  margin-top: 0.3rem;
  background: none;
  border: none;
  border-bottom: 2px solid var(--white);
  outline: none;
  color: var(--white);
  font-size: 1.1rem;
}

.form_reset_password .form_footer {
  width: 100%;
  height: auto;
  max-height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_reset_password .btn_login {
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  background-color: #1c8888;
  border: none;
  color: var(--white);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  transition: 0.5s ease;
  border-radius: 0.3rem;
}

@media screen and (max-width: 600px) {
  .section_login .form_sign {
    width: 80%;
  }

  .form_reset_password{
    width: 80%;
  }

  .form_reset_password h5,.section_login .form_sign h5{
    font-size: 1.7rem;
  }
}
