
.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
  }
  
  .loading p {
    display: flex;
    align-items: center;
  }
  
  .loading p span {
    color: var(--white);
    font-size: 3rem;
    font-weight: 400;
    margin-left: 0.3rem;
  }
  

@media screen and (max-width: 350px){
  .loading p span{
    font-size: 2rem;
  }
}